For loop

In [16]:
import numpy as np

In [19]:
def minus(x, y):
    try:
        return x - y
    except TypeError:
        return float(x) - float(y)

In [20]:
minus(5, 2)

3

In [23]:
def multiply(x, y, z):
    return x*y*z

In [25]:
multiply(3, 4, 10)

120

In [35]:
add_five = lambda x : x + 10
add_five(5)

15

In [36]:
def add5(x):
    return x + 10

In [37]:
add5(5)

15

In [38]:
add5(8)

18

In [41]:
add_five(6)

16

In [49]:
print(range(2, 6))

range(2, 6)

In [69]:
#number =[1, 2, 3, 4, 5, 6, 7]

In [71]:
#for i in range(number):
#    print(i*5)

In [55]:
for i in range(1, 7):
    print( i*10)

10
20
30
40
50
60

In [61]:
for x in range(2, 6):
    print('Numbers divided by two are:', x/2)

Numbers divided by two are: 1.0
Numbers divided by two are: 1.5
Numbers divided by two are: 2.0
Numbers divided by two are: 2.5

In [62]:
for x in range(2, 6):
    print('Numbers divided by two are:', int(x/2))

Numbers divided by two are: 1
Numbers divided by two are: 1
Numbers divided by two are: 2
Numbers divided by two are: 2

In [63]:
for x in range(2, 6):
    print('Numbers divided by two are:', round(x/2))

Numbers divided by two are: 1
Numbers divided by two are: 2
Numbers divided by two are: 2
Numbers divided by two are: 2

In [ ]:
#for i in [2, 3, 4, 5]:

## Pandas Tutorial

In [72]:
import pandas as pd

In [77]:
df = pd.read_csv('train_practise.csv')
df.dtypes

ward                  object
total_households     float64
total_individuals    float64
target               float64
dw_00                float64
                      ...
pw_08                  int64
ADM4_PCODE            object
lat                  float64
lon                  float64
NL                   float64
Length: 63, dtype: object

In [78]:
df.shape

(2822, 63)

In [84]:
df.head()

,ward,total_households,total_individuals,target,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,...,pw_03,pw_04,pw_05,pw_06,pw_07,pw_08,ADM4_PCODE,lat,lon,NL
0,41601001: Ward 1,1674.45058,5888.20750,16.773757,0.933841,0.000846,0.005490,0.000676,0.000000,0.001372,...,0.002848,0.007537,0.000000,0.012928,0,0,ZA4161001,-29.682270,24.734743,0.292039
1,41601002: Ward 2,1736.99230,6735.33812,21.496661,0.696940,0.001253,0.004402,0.000000,0.002301,0.001323,...,0.014566,0.057127,0.019092,0.004131,0,0,ZA4161002,-29.119311,24.757737,3.207775
2,41601003: Ward 3,2403.57591,7273.04995,10.931425,0.810545,0.004517,0.008891,0.003986,0.007735,0.000956,...,0.057560,0.010358,0.001421,0.040881,0,0,ZA4161003,-29.142276,25.094093,0.000000
3,41601004: Ward 4,1740.78737,5734.49046,23.119257,0.659914,0.000000,0.006129,0.000000,0.000813,0.037245,...,0.000000,0.000669,0.000000,0.005011,0,0,ZA4161004,-29.372052,24.942867,2.038778
4,41601005: Ward 5,1730.51451,6657.23835,13.652252,0.950575,0.000655,0.001473,0.000598,0.006999,0.000818,...,0.004859,0.001290,0.000673,0.017629,0,0,ZA4161005,-29.409381,25.290165,0.000000

In [86]:
df.head(10)

,ward,total_households,total_individuals,target,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,...,pw_03,pw_04,pw_05,pw_06,pw_07,pw_08,ADM4_PCODE,lat,lon,NL
0,41601001: Ward 1,1674.45058,5888.20750,16.773757,0.933841,0.000846,0.005490,0.000676,0.000000,0.001372,...,0.002848,0.007537,0.000000,0.012928,0,0,ZA4161001,-29.682270,24.734743,0.292039
1,41601002: Ward 2,1736.99230,6735.33812,21.496661,0.696940,0.001253,0.004402,0.000000,0.002301,0.001323,...,0.014566,0.057127,0.019092,0.004131,0,0,ZA4161002,-29.119311,24.757737,3.207775
2,41601003: Ward 3,2403.57591,7273.04995,10.931425,0.810545,0.004517,0.008891,0.003986,0.007735,0.000956,...,0.057560,0.010358,0.001421,0.040881,0,0,ZA4161003,-29.142276,25.094093,0.000000
3,41601004: Ward 4,1740.78737,5734.49046,23.119257,0.659914,0.000000,0.006129,0.000000,0.000813,0.037245,...,0.000000,0.000669,0.000000,0.005011,0,0,ZA4161004,-29.372052,24.942867,2.038778
4,41601005: Ward 5,1730.51451,6657.23835,13.652252,0.950575,0.000655,0.001473,0.000598,0.006999,0.000818,...,0.004859,0.001290,0.000673,0.017629,0,0,ZA4161005,-29.409381,25.290165,0.000000
5,41601006: Ward 6,1956.16888,6340.05782,25.249880,0.766832,0.000579,0.005874,0.000000,0.000000,0.001448,...,0.020771,0.002275,0.024184,0.039423,0,0,ZA4161006,-29.126870,25.410360,1.464541
6,41602001: Ward 1,1966.40293,6230.77491,19.984585,0.908400,0.006857,0.002941,0.000576,0.000720,0.001905,...,0.003827,0.000509,0.002542,0.020192,0,0,ZA4162001,-29.640860,26.091774,0.821738
7,41602002: Ward 2,2214.44168,6873.93123,16.511081,0.890079,0.004549,0.002262,0.001151,0.000512,0.001805,...,0.006364,0.001279,0.000526,0.025246,0,0,ZA4162002,-30.029163,25.917164,0.000000
8,41602003: Ward 3,2022.95917,6736.49015,25.962117,0.912298,0.002799,0.003688,0.000560,0.001260,0.000560,...,0.006109,0.001276,0.000000,0.008791,0,0,ZA4162003,-30.462176,26.133170,0.000000
9,41602004: Ward 4,1775.53323,5682.10110,21.744166,0.882665,0.005227,0.009128,0.000000,0.003687,0.002839,...,0.002644,0.000000,0.000583,0.002073,0,0,ZA4162004,-30.420421,25.351630,0.000000

In [85]:
df.tail()

,ward,total_households,total_individuals,target,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,...,pw_03,pw_04,pw_05,pw_06,pw_07,pw_08,ADM4_PCODE,lat,lon,NL
2817,34503001: Ward 1,3261.68067,11551.56486,6.393480,0.874972,0.003146,0.017230,0.004735,0.048888,0.000654,...,0.000472,0.000472,0.000000,0.006203,0,0,ZA3453001,-27.675590,23.057920,9.118927
2818,34503002: Ward 2,1463.06432,7908.90411,15.668000,0.636235,0.002262,0.010433,0.000000,0.003030,0.000000,...,0.003030,0.000713,0.000000,0.008414,0,0,ZA3453002,-27.591408,22.907161,1.697395
2819,34503003: Ward 3,1395.18881,6242.37527,13.238795,0.855975,0.006601,0.061118,0.000812,0.003912,0.000812,...,0.002150,0.001458,0.000000,0.003670,0,0,ZA3453003,-27.952550,22.749698,2.792501
2820,34503004: Ward 4,1679.66964,8014.73089,17.639523,0.792552,0.004423,0.016099,0.000000,0.000674,0.000000,...,0.009235,0.007870,0.000000,0.004803,0,0,ZA3453004,-27.913875,22.755314,2.793699
2821,34503005: Ward 5,3008.38687,7899.36498,12.457680,0.254215,0.003310,0.121954,0.000000,0.001770,0.001023,...,0.003107,0.001636,0.000332,0.001770,0,0,ZA3453005,-27.741804,22.856933,0.001200

In [87]:
df.tail(10)

,ward,total_households,total_individuals,target,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,...,pw_03,pw_04,pw_05,pw_06,pw_07,pw_08,ADM4_PCODE,lat,lon,NL
2812,34502009: Ward 9,964.17366,3784.03630,30.593096,0.702412,0.133519,0.002711,0.002122,0.000000,0.000000,...,0.183343,0.079679,0.051607,0.007202,0,0,ZA3452009,-27.363593,23.356092,4.588434
2813,34502010: Ward 10,2915.45302,11176.02950,26.177120,0.819065,0.082802,0.005098,0.000355,0.000369,0.000000,...,0.204246,0.068946,0.047383,0.011443,0,0,ZA3452010,-27.331466,23.320439,3.911402
2814,34502011: Ward 11,1906.32047,6932.78429,21.439577,0.831636,0.023670,0.006449,0.017388,0.000000,0.002779,...,0.182566,0.104331,0.018653,0.005648,0,0,ZA3452011,-27.676921,23.600285,0.000000
2815,34502012: Ward 12,2797.24959,10294.11620,29.065233,0.774917,0.081462,0.003547,0.000731,0.000447,0.001505,...,0.188973,0.080660,0.030488,0.025442,0,0,ZA3452012,-27.338311,23.437549,4.152665
2816,34502013: Ward 13,1472.32727,6850.95588,15.288742,0.766408,0.084505,0.008503,0.000703,0.000849,0.052410,...,0.004380,0.000679,0.000000,0.035567,0,0,ZA3452013,-27.449982,23.468677,8.514053
2817,34503001: Ward 1,3261.68067,11551.56486,6.393480,0.874972,0.003146,0.017230,0.004735,0.048888,0.000654,...,0.000472,0.000472,0.000000,0.006203,0,0,ZA3453001,-27.675590,23.057920,9.118927
2818,34503002: Ward 2,1463.06432,7908.90411,15.668000,0.636235,0.002262,0.010433,0.000000,0.003030,0.000000,...,0.003030,0.000713,0.000000,0.008414,0,0,ZA3453002,-27.591408,22.907161,1.697395
2819,34503003: Ward 3,1395.18881,6242.37527,13.238795,0.855975,0.006601,0.061118,0.000812,0.003912,0.000812,...,0.002150,0.001458,0.000000,0.003670,0,0,ZA3453003,-27.952550,22.749698,2.792501
2820,34503004: Ward 4,1679.66964,8014.73089,17.639523,0.792552,0.004423,0.016099,0.000000,0.000674,0.000000,...,0.009235,0.007870,0.000000,0.004803,0,0,ZA3453004,-27.913875,22.755314,2.793699
2821,34503005: Ward 5,3008.38687,7899.36498,12.457680,0.254215,0.003310,0.121954,0.000000,0.001770,0.001023,...,0.003107,0.001636,0.000332,0.001770,0,0,ZA3453005,-27.741804,22.856933,0.001200

In [92]:
df.columns

Index(['ward', 'total_households', 'total_individuals', 'target', 'dw_00',
       'dw_01', 'dw_02', 'dw_03', 'dw_04', 'dw_05', 'dw_06', 'dw_07', 'dw_08',
       'dw_09', 'dw_10', 'dw_11', 'dw_12', 'dw_13', 'psa_00', 'psa_01',
       'psa_02', 'psa_03', 'psa_04', 'stv_00', 'stv_01', 'car_00', 'car_01',
       'lln_00', 'lln_01', 'lan_00', 'lan_01', 'lan_02', 'lan_03', 'lan_04',
       'lan_05', 'lan_06', 'lan_07', 'lan_08', 'lan_09', 'lan_10', 'lan_11',
       'lan_12', 'lan_13', 'lan_14', 'pg_00', 'pg_01', 'pg_02', 'pg_03',
       'pg_04', 'lgt_00', 'pw_00', 'pw_01', 'pw_02', 'pw_03', 'pw_04', 'pw_05',
       'pw_06', 'pw_07', 'pw_08', 'ADM4_PCODE', 'lat', 'lon', 'NL'],
      dtype='object')

In [99]:
df.sample(3)

,ward,total_households,total_individuals,target,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,...,pw_03,pw_04,pw_05,pw_06,pw_07,pw_08,ADM4_PCODE,lat,lon,NL
238,42004010: Ward 10,2004.64486,7079.02638,15.363288,0.837262,0.000000,0.017576,0.002118,0.001032,0.000581,...,0.000706,0.001081,0.000000,0.006656,0,0,ZA4204010,-26.848836,27.854217,27.302625
2555,63904002: Ward 2,2388.33572,9609.94964,32.873589,0.877204,0.053713,0.001573,0.000428,0.000436,0.002020,...,0.174030,0.037359,0.005606,0.030084,0,0,ZA6394002,-27.310783,24.667450,0.875286
1155,52404003: Ward 3,2029.99811,10138.52105,50.396414,0.096766,0.846054,0.017126,0.000616,0.000000,0.000000,...,0.066906,0.030544,0.000530,0.560529,0,0,ZA5244003,-28.695389,30.354432,0.064685

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2822 entries, 0 to 2821
Data columns (total 63 columns):
ward                 2822 non-null object
total_households     2822 non-null float64
total_individuals    2822 non-null float64
target               2822 non-null float64
dw_00                2822 non-null float64
dw_01                2822 non-null float64
dw_02                2822 non-null float64
dw_03                2822 non-null float64
dw_04                2822 non-null float64
dw_05                2822 non-null float64
dw_06                2822 non-null float64
dw_07                2822 non-null float64
dw_08                2822 non-null float64
dw_09                2822 non-null float64
dw_10                2822 non-null float64
dw_11                2822 non-null float64
dw_12                2822 non-null int64
dw_13                2822 non-null int64
psa_00               2822 non-null float64
psa_01               2822 non-null float64
psa_02               2822 non-null float64
psa_03               2822 non-null float64
psa_04               2822 non-null float64
stv_00               2822 non-null float64
stv_01               2822 non-null float64
car_00               2822 non-null float64
car_01               2822 non-null float64
lln_00               2822 non-null float64
lln_01               2822 non-null float64
lan_00               2822 non-null float64
lan_01               2822 non-null float64
lan_02               2822 non-null float64
lan_03               2822 non-null float64
lan_04               2822 non-null float64
lan_05               2822 non-null float64
lan_06               2822 non-null float64
lan_07               2822 non-null float64
lan_08               2822 non-null float64
lan_09               2822 non-null float64
lan_10               2822 non-null float64
lan_11               2822 non-null float64
lan_12               2822 non-null float64
lan_13               2822 non-null int64
lan_14               2822 non-null float64
pg_00                2822 non-null float64
pg_01                2822 non-null float64
pg_02                2822 non-null float64
pg_03                2822 non-null float64
pg_04                2822 non-null float64
lgt_00               2822 non-null float64
pw_00                2822 non-null float64
pw_01                2822 non-null float64
pw_02                2822 non-null float64
pw_03                2822 non-null float64
pw_04                2822 non-null float64
pw_05                2822 non-null float64
pw_06                2822 non-null float64
pw_07                2822 non-null int64
pw_08                2822 non-null int64
ADM4_PCODE           2822 non-null object
lat                  2822 non-null float64
lon                  2822 non-null float64
NL                   2822 non-null float64
dtypes: float64(56), int64(5), object(2)
memory usage: 1.4+ MB

In [102]:
df.head()

,ward,total_households,total_individuals,target,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,...,pw_03,pw_04,pw_05,pw_06,pw_07,pw_08,ADM4_PCODE,lat,lon,NL
0,41601001: Ward 1,1674.45058,5888.20750,16.773757,0.933841,0.000846,0.005490,0.000676,0.000000,0.001372,...,0.002848,0.007537,0.000000,0.012928,0,0,ZA4161001,-29.682270,24.734743,0.292039
1,41601002: Ward 2,1736.99230,6735.33812,21.496661,0.696940,0.001253,0.004402,0.000000,0.002301,0.001323,...,0.014566,0.057127,0.019092,0.004131,0,0,ZA4161002,-29.119311,24.757737,3.207775
2,41601003: Ward 3,2403.57591,7273.04995,10.931425,0.810545,0.004517,0.008891,0.003986,0.007735,0.000956,...,0.057560,0.010358,0.001421,0.040881,0,0,ZA4161003,-29.142276,25.094093,0.000000
3,41601004: Ward 4,1740.78737,5734.49046,23.119257,0.659914,0.000000,0.006129,0.000000,0.000813,0.037245,...,0.000000,0.000669,0.000000,0.005011,0,0,ZA4161004,-29.372052,24.942867,2.038778
4,41601005: Ward 5,1730.51451,6657.23835,13.652252,0.950575,0.000655,0.001473,0.000598,0.006999,0.000818,...,0.004859,0.001290,0.000673,0.017629,0,0,ZA4161005,-29.409381,25.290165,0.000000

In [103]:
df.describe()

,total_households,total_individuals,target,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,dw_06,...,pw_02,pw_03,pw_04,pw_05,pw_06,pw_07,pw_08,lat,lon,NL
count,2822.000000,2822.000000,2822.000000,2822.000000,2822.000000,2822.000000,2822.000000,2822.000000,2822.000000,2822.000000,...,2822.000000,2822.000000,2822.000000,2822.000000,2822.000000,2822.0,2822.0,2822.000000,2822.000000,2822.000000
mean,3665.281214,12869.130053,24.507554,0.712196,0.092616,0.032043,0.006057,0.008665,0.006289,0.022375,...,0.127555,0.041589,0.019655,0.011008,0.110818,0.0,0.0,-26.880740,28.666515,17.437560
std,3266.364522,9696.690518,10.294387,0.214035,0.182852,0.080253,0.019374,0.030697,0.024606,0.037127,...,0.156400,0.057331,0.032926,0.023672,0.185401,0.0,0.0,2.021279,2.373809,18.958621
min,1.000000,402.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,-32.490089,16.760022,0.000000
25%,1778.858235,7071.205695,16.751556,0.594212,0.002895,0.002407,0.000000,0.000000,0.000000,0.002716,...,0.008673,0.002099,0.000715,0.000159,0.005217,0.0,0.0,-28.569019,27.707932,3.033397
50%,2398.249935,9366.989680,24.156670,0.766841,0.010425,0.005762,0.000807,0.000607,0.000865,0.008639,...,0.069065,0.016496,0.005164,0.001459,0.025165,0.0,0.0,-26.549866,28.959679,9.205572
75%,3987.080563,14241.233015,32.226553,0.881708,0.068209,0.027913,0.002538,0.002225,0.003027,0.025218,...,0.183384,0.058626,0.025055,0.009432,0.116638,0.0,0.0,-25.572130,30.441505,26.890531
max,39684.942130,91716.746370,55.528423,0.994962,0.931490,0.951806,0.264239,0.392085,0.435912,0.412936,...,1.000000,0.327393,0.306787,0.228261,0.961523,0.0,0.0,-22.331267,32.858249,63.000000

In [104]:
df.corr()

,total_households,total_individuals,target,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,dw_06,...,pw_02,pw_03,pw_04,pw_05,pw_06,pw_07,pw_08,lat,lon,NL
total_households,1.000000,0.959244,-0.374833,-0.226119,-0.231304,0.222825,0.328743,0.314811,0.095374,0.284317,...,-0.140827,-0.149199,-0.121961,-0.110339,-0.228412,NaN,NaN,0.063018,0.032249,0.708701
total_individuals,0.959244,1.000000,-0.293827,-0.200350,-0.161183,0.178921,0.255194,0.245253,0.109852,0.252280,...,-0.127982,-0.135562,-0.103966,-0.084651,-0.174518,NaN,NaN,0.039653,0.104198,0.684853
target,-0.374833,-0.293827,1.000000,0.018461,0.458206,-0.232727,-0.338137,-0.385533,-0.146357,-0.248573,...,0.442441,0.440941,0.389467,0.349653,0.470676,NaN,NaN,0.120381,0.347088,-0.514398
dw_00,-0.226119,-0.200350,0.018461,1.000000,-0.614702,-0.356335,-0.154956,-0.126421,-0.076181,-0.181262,...,-0.064290,-0.079610,-0.059986,-0.038534,-0.297510,NaN,NaN,0.348089,-0.152692,-0.133895
dw_01,-0.231304,-0.161183,0.458206,-0.614702,1.000000,0.000617,-0.075112,-0.112250,-0.095776,-0.099431,...,0.222130,0.250931,0.202204,0.211378,0.600377,NaN,NaN,-0.346198,0.349469,-0.338058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
pw_07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pw_08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
lat,0.063018,0.039653,0.120381,0.348089,-0.346198,-0.126910,-0.042252,0.009724,-0.093791,0.015586,...,0.069398,0.114066,0.150117,0.114295,-0.029484,NaN,NaN,1.000000,0.081587,0.049429
lon,0.032249,0.104198,0.347088,-0.152692,0.349469,0.075945,0.028536,-0.028597,-0.135910,-0.052148,...,0.077424,0.075826,0.136322,0.165803,0.325206,NaN,NaN,0.081587,1.000000,-0.026927
NL,0.708701,0.684853,-0.514398,-0.133895,-0.338058,0.304287,0.321311,0.356428,0.180807,0.403524,...,-0.312929,-0.316221,-0.254358,-0.212811,-0.341468,NaN,NaN,0.049429,-0.026927,1.000000

In [108]:
df.columns

Index(['ward', 'total_households', 'total_individuals', 'target', 'dw_00',
       'dw_01', 'dw_02', 'dw_03', 'dw_04', 'dw_05', 'dw_06', 'dw_07', 'dw_08',
       'dw_09', 'dw_10', 'dw_11', 'dw_12', 'dw_13', 'psa_00', 'psa_01',
       'psa_02', 'psa_03', 'psa_04', 'stv_00', 'stv_01', 'car_00', 'car_01',
       'lln_00', 'lln_01', 'lan_00', 'lan_01', 'lan_02', 'lan_03', 'lan_04',
       'lan_05', 'lan_06', 'lan_07', 'lan_08', 'lan_09', 'lan_10', 'lan_11',
       'lan_12', 'lan_13', 'lan_14', 'pg_00', 'pg_01', 'pg_02', 'pg_03',
       'pg_04', 'lgt_00', 'pw_00', 'pw_01', 'pw_02', 'pw_03', 'pw_04', 'pw_05',
       'pw_06', 'pw_07', 'pw_08', 'ADM4_PCODE', 'lat', 'lon', 'NL'],
      dtype='object')

In [113]:
df['ward'].value_counts()

59500075: Ward 75    1
63801007: Ward 7     1
52705019: Ward 19    1
52801008: Ward 8     1
52205037: Ward 37    1
                    ..
79900002: Ward 2     1
83002015: Ward 15    1
93503001: Ward 1     1
63701004: Ward 4     1
41804027: Ward 27    1
Name: ward, Length: 2822, dtype: int64

In [116]:
type(df)

pandas.core.frame.DataFrame

In [115]:
type(df.ward)

pandas.core.series.Series

In [123]:
df.pg_00.mean()

0.8621424599109138

In [125]:
df.pg_00.median()

0.98975152945

In [126]:
df.pg_00.max()

1.0

In [127]:
df.pg_00.min()

0.0110532556

In [129]:
df.pg_00.isnull()

0       False
1       False
2       False
3       False
4       False
        ...
2817    False
2818    False
2819    False
2820    False
2821    False
Name: pg_00, Length: 2822, dtype: bool

In [130]:
df.head()

,ward,total_households,total_individuals,target,dw_00,dw_01,dw_02,dw_03,dw_04,dw_05,...,pw_03,pw_04,pw_05,pw_06,pw_07,pw_08,ADM4_PCODE,lat,lon,NL
0,41601001: Ward 1,1674.45058,5888.20750,16.773757,0.933841,0.000846,0.005490,0.000676,0.000000,0.001372,...,0.002848,0.007537,0.000000,0.012928,0,0,ZA4161001,-29.682270,24.734743,0.292039
1,41601002: Ward 2,1736.99230,6735.33812,21.496661,0.696940,0.001253,0.004402,0.000000,0.002301,0.001323,...,0.014566,0.057127,0.019092,0.004131,0,0,ZA4161002,-29.119311,24.757737,3.207775
2,41601003: Ward 3,2403.57591,7273.04995,10.931425,0.810545,0.004517,0.008891,0.003986,0.007735,0.000956,...,0.057560,0.010358,0.001421,0.040881,0,0,ZA4161003,-29.142276,25.094093,0.000000
3,41601004: Ward 4,1740.78737,5734.49046,23.119257,0.659914,0.000000,0.006129,0.000000,0.000813,0.037245,...,0.000000,0.000669,0.000000,0.005011,0,0,ZA4161004,-29.372052,24.942867,2.038778
4,41601005: Ward 5,1730.51451,6657.23835,13.652252,0.950575,0.000655,0.001473,0.000598,0.006999,0.000818,...,0.004859,0.001290,0.000673,0.017629,0,0,ZA4161005,-29.409381,25.290165,0.000000

In [132]:
df.skew()

total_households     2.715798
total_individuals    2.164591
target               0.109293
dw_00               -1.027741
dw_01                2.537747
                       ...
pw_07                0.000000
pw_08                0.000000
lat                 -0.024309
lon                 -1.256801
NL                   1.149866
Length: 61, dtype: float64

In [133]:
df.kurtosis()

total_households     11.665419
total_individuals     5.843852
target               -0.698781
dw_00                 0.430059
dw_01                 5.765620
                       ...
pw_07                 0.000000
pw_08                 0.000000
lat                  -0.740603
lon                   2.770354
NL                    0.067994
Length: 61, dtype: float64

In [138]:
df.groupby('ward')['lat'].value_counts()

ward               lat
30601001: Ward 1   -28.603895    1
30601002: Ward 2   -28.769332    1
30601003: Ward 3   -29.227544    1
30601004: Ward 4   -29.369607    1
30602001: Ward 1   -29.268638    1
                                ..
94703027: Ward 27  -24.599760    1
94703028: Ward 28  -24.512810    1
94703029: Ward 29  -24.600257    1
94703030: Ward 30  -24.720679    1
94703031: Ward 31  -24.735269    1
Name: lat, Length: 2822, dtype: int64

In [142]:
pd.crosstab(df.ward, df.lat)

lat,-32.490089,-31.888645,-31.814231,-31.665732,-31.469394,-31.438364,-31.416559,-31.414525,-31.412418,-31.354671,...,-22.713167,-22.708496,-22.672229,-22.605472,-22.499977,-22.405593,-22.382846,-22.340825,-22.337394,-22.331267
ward,,,,,,,,,,,,,,,,,,,,,
30601001: Ward 1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30601002: Ward 2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30601003: Ward 3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30601004: Ward 4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30602001: Ward 1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94703027: Ward 27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94703028: Ward 28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94703029: Ward 29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94703030: Ward 30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94703031: Ward 31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [159]:
dict_ass = {'A': [11, 21, 31],'B': [12, 22, 32],'C': [13, 23, 33]}
print('The values in variable A:',dict_ass['A'])
print('The values in variable B:',dict_ass['B'])
print('The values in variable C:',dict_ass['C'])

The values in variable A: [11, 21, 31]
The values in variable B: [12, 22, 32]
The values in variable C: [13, 23, 33]

In [162]:
dfff = pd.DataFrame(dict_ass, index = ['ade', 'shola', 'seun'])
dfff

        A   B   C
ade    11  12  13
shola  21  22  23
seun   31  32  33

In [151]:
dff = pd.DataFrame({'A': [11, 21, 31],
                   'B': [12, 22, 32],
                   'C': [13, 23, 33]},
                  index=['ONE', 'TWO', 'THREE'])

dff

        A   B   C
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33

In [163]:
df.drop(['lat', 'lon'], axis = 1, inplace = True)

In [165]:
df.drop('ADM4_PCODE', axis = 1, inplace = True)

In [166]:
df.columns

Index(['ward', 'total_households', 'total_individuals', 'target', 'dw_00',
       'dw_01', 'dw_02', 'dw_03', 'dw_04', 'dw_05', 'dw_06', 'dw_07', 'dw_08',
       'dw_09', 'dw_10', 'dw_11', 'dw_12', 'dw_13', 'psa_00', 'psa_01',
       'psa_02', 'psa_03', 'psa_04', 'stv_00', 'stv_01', 'car_00', 'car_01',
       'lln_00', 'lln_01', 'lan_00', 'lan_01', 'lan_02', 'lan_03', 'lan_04',
       'lan_05', 'lan_06', 'lan_07', 'lan_08', 'lan_09', 'lan_10', 'lan_11',
       'lan_12', 'lan_13', 'lan_14', 'pg_00', 'pg_01', 'pg_02', 'pg_03',
       'pg_04', 'lgt_00', 'pw_00', 'pw_01', 'pw_02', 'pw_03', 'pw_04', 'pw_05',
       'pw_06', 'pw_07', 'pw_08', 'NL'],
      dtype='object')